pyrofork==2.3.45
pyrogram
aiohttp
async-timeout
typing-extensions
attrs
pymongo
SQLAlchemy
psycopg2-binary
hachoir
Pillow
urllib3
idna
chardet
certifi
tgcrypto
motor
telethon
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
